<div class="<%= params[:controller] %> container">
	<div class="row">
		<div class="col-sm-12">
			<% if flash[:notice] %>
				<div class="alert alert-<%= flash[:alert_type] %> alert-dismissable">
					<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
					<%= flash[:notice] %>
				</div>
			<% end %>
			<h1>Team <b><%= h @team.name %></b></h1>
			<p class="text-justify"><%= h @team.description %></p>
			<p class="text-info">Number of members: <%= h @team.memberNumber %></p>
			<p class="text-primary">Actual runners in the team: <%= @actual_users %></p>
			<p class="text-success">Team code: <i><%= @team.code %></i></p>
			<p class="text-warning">Creation date: <%= h spanish_date(@team.creationDate) %></p>
			<a href="/teams" class="btn btn-default btn-sm">
				<span class="glyphicon glyphicon-arrow-left"></span>
				Back to Teams
			</a>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-sm-6">
			<% if @team.user == @user %>
				<h4 class='text-danger'>Here you can manage different aspects of your team, like:</h4>
				<br>
				<div class="row">
					<div class="col-xs-6">
						<a href="/update_team/<%= @team.id %>" class="btn btn-primary" style="white-space: normal">
							<span class="glyphicon glyphicon-refresh"></span>
							Update Team Info
						</a>
						<br>
						<br>
						<a href="/add_to_team/<%= @team.id %>" class="btn btn-success" style="white-space: normal">
							<span class="glyphicon glyphicon-plus"></span>
							Add New Member
						</a>
					</div>
					<div class="col-xs-6">
						<a href="/remove_from_team/<%= @team.id %>" class="btn btn-warning" style="white-space: normal">
							<span class="glyphicon glyphicon-minus"></span>
							Remove Member
						</a>
						<br>
						<br>
						<button id="btnDeleteTeam" class="btn btn-danger" style="white-space: normal" id-team="<%= @team.id %>">
							<span class="glyphicon glyphicon-remove"></span>
							Delete Team
						</button>
					</div>
				</div>
				<br>
			<% else %>
				<div class="col-sm-12">
					<div class="alert alert-info">
						Usted no tiene los permisos para hacer cambios sobre este equipo.
					</div>
				</div>
			<% end %>
		</div>
		<div class="col-sm-6">
			<div class="panel panel-warning">
				<div class="panel-heading">
					<b>Runners in this team</b>
				</div>
				<div class="panel-body">
					<div class="list-group">
						<% for user in @users %>
							<a class='list-group-item'>
								<p><b>Name:</b> <%= h "#{user.name} #{user.lastname}" %></p>
								<p><b>Email:</b> <%= h user.email %></p>
								<p><b>Birthday:</b> <%= h spanish_date(user.birthday) %></p>
							</a>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>